header {
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 92px 24px 96px 24px;
    padding: 0 26px;
}

.header__item {
    flex-basis: 33.3%;;
}

.menu {
    display: flex;
    gap: 32px;
}

.menu-link {
    position: relative;
    flex-shrink: 0;
}
  
.menu-link + .menu-link::before {
    content: '';
    position: absolute;
    top: 7px;
    left: -11px;
    border: 1px solid black;
    border-radius: 3px;
    width: 6px;
    height: 6px;
}

.section-overlay {
    position: absolute;
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.first-section {
    position: relative;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    height: 757px;
}

.first-section__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 165px 50px 51px 50px;
    z-index: 1;
}

.one-letter-left-margin {
    margin-left: 20px;
}

.one-letter-right-margin {
    margin-right: 20px;
}

.word {
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    color: #FFFFFF;
    letter-spacing: 20px;
}

.first-word {
    line-height: 115px;
    margin-bottom: 20px;
}

.second-word {
    margin-bottom: 20px;
    text-align: center;
}

.third-word {
    margin-bottom: 135px;
    text-align: right;
}

.first-section-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-section-footer__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color:#FFFFFF;
    letter-spacing: 3px;
}

.second-section-footer__button {
    height: 51px;
    width: 256px;
    background-color: transparent;
    border: 1px solid white;
    font-weight: 500;
    font-size: 22px;
    line-height: 25.83px;
    color:#FFFFFF;
    letter-spacing: 3px;
    cursor: pointer;
}